@page "/surveyspage"
@inherits PageBase

<PageHeader Title="@Title" />

<PageContent>
    <p>Content from SurveysPage.razor</p>
    <p> placed inside PageContent component</p>
</PageContent>

@code {
    protected override async Task OnInitializedAsync()
    {
        Title = "Title set in SurveysPage.razor";
        await base.OnInitializedAsync();
    }
}
